body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.text-block {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0 15px;
    font-size: 20px;
    line-height: 1.5;
    color: #333;
}

header {
    background-color: #ffffff;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
}

.logo {
    width: 60px;
    height: auto;
}

#header-actions-bar {
    display: flex;
    align-items: center;
}
button {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    color: #555;
    cursor: pointer;
    transition: color 0.3s, transform 0.2s;
    display: flex;
    align-items: center;
}

.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin: 20px 0;
}

.search-input {
    border: none;
    outline: none;
    padding: 10px;
    flex: 1;
    font-size: 16px;
}

.search-button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #0056b3;
}

.how-to-choose {
    text-align: center;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

.how-to-choose p {
    flex: 1;
    margin: 10px 0;
}

.how-to-choose img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.land_main_cashback_cat_item {
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.text-center {
    text-align: center;
    margin-bottom: 20px;
}

#featured-3 h3 {
    font-size: 18px;
    line-height: 1.5;
    color: #333;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    font-size: 16px;
    color: #999;
    background-color: white;
    border-top: 1px solid #ccc;
    text-align: center;
}

.cashback-categories {
    text-align: center;
    margin: 20px 0;
}

.cashback-categories img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.section-title {
    font-size: 26px;
    color: #000;
    margin-bottom: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.stretch-text {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    font-size: 1.25rem;
    line-height: 1.5;
}

#custom-cards {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

#custom-cards h2 {
    font-size: 2.5rem;
    color: #343a40;
}

.list-group-item {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    transition: background-color 0.3s ease;
}

.list-group-item:hover {
    background-color: #e9ecef;
}

.card {
    border: none;
    border-radius: 15px;
}

.card-body {
    padding: 30px;
}

.card-title {
    font-size: 2.5rem;
    color: #0d6efd;
    margin-bottom: 10px;
}

.card-body .list-unstyled li {
    font-size: 1.25rem;
    color: #6c757d;
}

.card-body svg {
    fill: #0d6efd;
}

@media (max-width: 768px) {
    #custom-cards {
        padding: 15px;
    }

    .card-title {
        font-size: 2rem;
    }
}









/*VTB*/
.v1-c-ibInAV {
    display: flex;
    flex-direction: column;
    padding: var(--v1-space-x5) 0;
    background-color: var(--v1-colors-background0_secondary);
    border: none;
    border-radius: var(--v1-sizes-x6);
}

.v1-c-haLmis {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 8px;
    transition: padding 80ms ease-out;
    position: sticky;
    top: var(--v1-space-x17);
    width: 250px;
}
.v1-c-fnPRsw {
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.v1-c-gUhfEy {
    display: flex;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.v1-c-dbmNcN-ihjFYZC-css {
    --hiddenSumWidth: 86px;
}
.v1-c-dBNYiB {
    display: flex;
    flex-direction: column;
    row-gap: var(--v1-space-x6);
}
.v1-c-ecFeJs-ifnovqL-css svg {
    fill: var(--v1-colors-icon_brand);
}
.v1-c-ecFeJs-iiACnfD-css.v1-c-ecFeJs-iiACnfD-css svg {
    fill: var(--v1-colors-icon_secondary);
}
.v1-c-kcAATC {
    padding: 0 var(--v1-space-x5) var(--v1-space-x6);
    display: flex;
}
.v1-c-fzLZwL-eRtSsv-isFundsVisible-true {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
.v1-c-dbmNcN-ihjFYZC-css {
    --hiddenSumWidth: 86px;
}
@media (min-width: 1200px) {
    .v1-c-haLmis {
        width: 320px;
    }
}
.v1-c-gAyPou-eUCvlF-clickable-true .v1-c-hYYuhA:where(.v1-c-bNRjGS) {
    background-color: var(--v1-colors-brand8);
}
@media (min-width: 1024px) {
    .v1-c-fUDpwJ-fbymLd-isAuthorized-true {
        position: sticky;
        top: 0px;
        vertical-align: middle;
        justify-content: center;
    }
}
<style>
@media (min-width: 1024px) {
    .v1-c-fUDpwJ {
        background-color: inherit;
        vertical-align: middle;
        justify-content: center;
    }
}
<style>
@media (min-width: 320px) {
    .v1-c-fUDpwJ {
        padding: var(--v1-sizes-x4) var(--v1-sizes-x5);
        vertical-align: middle;
        justify-content: center;
    }
}
<style>
.v1-c-fUDpwJ {
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: var(--v1-zIndices-background3);
    box-sizing: border-box;
    font-family: var(--v1-fonts-body);
    font-size: var(--v1-fontSizes-bodyM);
    line-height: var(--v1-lineHeights-bodyM_tight);
    letter-spacing: var(--v1-letterSpacings-l0);
    font-weight: var(--v1-fontWeights-bodyRegular);
    vertical-align: middle;
}
<style>
.v1-c-hYYuhA {
    speak: normal;
}
.v1-c-hUZzbq {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 980px;
}
<style>
.v1-c-hYYuhA {
    speak: normal;
}
.v1-c-ezRaDg {
    position: relative;
    display: flex;
    gap: var(--v1-sizes-x3);
}
<style>
.v1-c-hYYuhA {
    speak: normal;
}
<style>
* {
    line-height: normal;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
v1-c-jTlMYo {
    width: var(--v1-sizes-x15);
    height: var(--v1-sizes-x9);
}
.v1-c-hhqRxW {
    margin-left: auto;
    margin-right: var(--v1-space-x6);
}
<style>
.v1-c-hYYuhA {
    speak: normal;
}
<style>
* {
    line-height: normal;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
.v1-c-jZChKs-ieWJksf-css {
    position: relative;
}
<style>
.v1-c-jZChKs {
    position: relative;
    display: inline-flex;
}
<style>
* {
    line-height: normal;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
<style>
.v1-c-hYYuhA {
    speak: normal;
}
v1-c-kiJfEs-igkFwqa-css {
    transition: 250ms ease-in-out;
    visibility: hidden;
    opacity: 0;
}
<style>
.v1-c-kiJfEs {
    position: absolute;
    display: flex;
    align-items: center;
}
<style>
* {
    line-height: normal;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
.v1-c-hYYuhA-icFpLbH-css {
    transition: 250ms ease-in-out;
    visibility: visible;
    opacity: 1;
}
<style>
.v1-c-hYYuhA {
    speak: normal;
}
<style>
.v1-c-hYYuhA {
    speak: normal;
}
<style>
* {
    line-height: normal;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
.v1-c-hYYuhA-ijSuJUL-css {
    width: 53px;
    height: 16px;
    border-radius: 8px;
}
<style>
.v1-c-eESEOf {
    box-sizing: border-box;
    background-color: var(--v1-colors-neutral12);
}
<style>
.v1-c-hYYuhA {
    speak: normal;
}
<style>
.v1-c-eESEOf {
    box-sizing: border-box;
    background-color: var(--v1-colors-neutral12);
}
<style>
.v1-c-hYYuhA {
    speak: normal;
}
<style>
* {
    line-height: normal;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
.v1-c-dcqWSe {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: var(--v1-zIndices-background0);
}
<style>
* {
    line-height: normal;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
.v1-c-dGGaDT {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% + 48px);
    transform: translate(-50%, -50%);
    animation: 4s linear 0s infinite normal none running v1-k-idFGPt;
}
<style>
img {
    border-style: none;
}
<style>
* {
    line-height: normal;
}
user agent stylesheet
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.v1-c-gpMsdG.v1-c-gpMsdG {
    position: relative;
    display: flex;
    align-items: center;
    text-align: left;
    z-index: var(--v1-zIndices-elevation0);
    color: var(--v1-colors-text_constantPrimary);
}
<style>
.v1-c-gbVBIp-iPJLV-css {
}
<style>
.v1-c-gbVBIp-cgERYr-variant-bodyS_paragraph_semiBold {
    font-family: var(--v1-fonts-body);
    font-size: var(--v1-fontSizes-bodyS);
    line-height: var(--v1-lineHeights-bodyS_paragraph);
    letter-spacing: var(--v1-letterSpacings-l0);
    font-weight: var(--v1-fontWeights-bodySemiBold);
}
<style>
.v1-c-gbVBIp {
    margin-top: var(--v1-space-x0);
    margin-bottom: var(--v1-space-x0);
    color: var(--v1-colors-text_primary);
}
<style>
.v1-c-gbVBIp {
    margin-top: var(--v1-space-x0);
    margin-bottom: var(--v1-space-x0);
    color: var(--v1-colors-text_primary);
}
<style>
* {
    line-height: normal;
}
user agent stylesheet
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

element.style {
}
<style>
.v1-c-hYYuhA {
    speak: normal;
}
<style>
.v1-c-ezRaDg {
    position: relative;
    display: flex;
    gap: var(--v1-sizes-x3);
}
<style>
.v1-c-hYYuhA {
    speak: normal;
}
<style>
* {
    line-height: normal;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
@media only screen and (min-width: 768px) {
    .jSrTWP {
        width: 32px;
        height: 32px;
    }
}
<style>
.jSrTWP {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    background-color: transparent;
    position: relative;
    width: 24px;
    height: 24px;
    padding: 0px;
    border-radius: 50%;
    color: rgb(98, 111, 132);
}
<style>
button, [type="button"], [type="reset"], [type="submit"] {
    appearance: button;
}
<style>
button, select {
    text-transform: none;
}
<style>
button, input {
    overflow: visible;
}
<style>
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0px;
}
<style>
* {
    line-height: normal;
}
user agent stylesheet
button {
    appearance: auto;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-variant-alternates: ;
    font-variant-position: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    font-optical-sizing: ;
    font-size-adjust: ;
    font-kerning: ;
    font-feature-settings: ;
    font-variation-settings: ;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}
.kTYwTy {
    fill: var(--v024-colors-text_secondary);
    font-size: var(--v024-sizes-x6);
}
<style>
.v024-c-kIaFgW {
    box-sizing: border-box;
    display: inline-flex;
}
<style>
* {
    line-height: normal;
}
.v1-c-hYYuhA {
    speak: normal;
}
<style>
@media (min-width: 768px) {
    .v1-c-kyqdGH {
        margin-left: var(--v1-space-x4);
    }
}
<style>
.v1-c-kyqdGH {
    display: flex;
    flex-direction: row;
    place-content: center;
    place-items: center;
    margin-left: var(--v1-space-x2);
    position: relative;
}
<style>
.v1-c-hYYuhA {
    speak: normal;
}
<style>
* {
    line-height: normal;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
button, [type="button"], [type="reset"], [type="submit"] {
    appearance: button;
}
<style>
.v1-c-ecFeJs-iTfZZE-cv {
    font-size: var(--v1-sizes-x5);
}
<style>
@media (min-width: 768px) {
    .v1-c-ihHXEf {
        width: 24px;
        height: 24px;
    }
}
<style>
.v1-c-ihHXEf {
    width: 20px;
    height: 20px;
}
<style>
.v1-c-ecFeJs {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    outline-offset: 2px;
    padding: 0px;
    cursor: pointer;
}
<style>
button, select {
    text-transform: none;
}
<style>
button, input {
    overflow: visible;
}
<style>
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0px;
}
<style>
* {
    line-height: normal;
}
user agent stylesheet
button {
    appearance: auto;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-variant-alternates: ;
    font-variant-position: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    font-optical-sizing: ;
    font-size-adjust: ;
    font-kerning: ;
    font-feature-settings: ;
    font-variation-settings: ;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}
.hznfdU {
    position: absolute;
    top: 0px;
    right: 0px;
}
<style>
* {
    line-height: normal;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
header {
    background-color: white;
}
.v1-c-kTtjfV {
    display: flex;
    justify-content: space-between;
    padding-top: var(--v1-space-x6);
    border-top: 2px solid var(--v1-colors-divider_thin);
    background-color: white;
}

<style>
.v1-c-hYYuhA {
    speak: normal;

